/Assets/AnimationClip
/Assets/AnimatorController
/Assets/AudioClip
/Assets/BL
Assets/BL.meta
/Assets/GameObject
/Assets/Material
/Assets/Mesh
/Assets/Scenes
/Assets/Sprite
/Assets/StreamingAssets
/Assets/Texture2D
AssetRipper_20260723_112923.log
AssetRipper_20260806_024609.log
AssetRipper_20260809_182341.log
AssetRipper_20260809_182937.log
/Temp
/AssetBundles
/Logs
/.vscode
/Library
AssetRipper.GUI.Free.exe
